//Fonts
$font-family-roboto: 'Roboto', sans-serif;

$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 24px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

//Colors
$page-color: #fafbfc;
$white: #fff;
$black: #000;
$main-blue-color: #026aa7;
$dark-blue: #014a75;
$lightGrey-color: #091e420a;
$grey-hover-color: #091e4214;
$main-text-color: #172b4d;
$light-text-color: #5E6C84;
$orange-color: #F2D600;
$red-color: #eb5a46;

$active-button-color: #e4f0f6;
$header-active-color: rgba(255, 255, 255, 0.2);
$header-hover-color: rgba(255, 255, 255, 0.3);
